<!-- INCLUDE doc.body.htm -->
<script>
_.config.store('u_home', '{U_HOME}');
</script>

<!-- BEGIN status_post -->
<section class="main status">
<form action="{U_HOME_STATUS:UPDATE}" method="post">
	
	<h1>{L_STATUS_LEGEND}</h1>
	<textarea name="status" class="area"></textarea>
	<input name="submit" type="submit" class="post" value="{L_SEND}" />
	
</form>
</section>
<!-- END status_post -->

<!-- BEGIN birthday -->
<section class="main">
	<h1>{L_TODAY_BIRTHDAY}</h1>
	<ul>
	<!-- BEGIN row -->
	<li><a href="{row.A}">{row.NAME}</a> {row.AVATAR}</li>
	<!-- END row -->
	</ul>
</section>
<!-- END birthday -->

<!-- BEGIN board_topics -->
<section class="main">
	<h1>{L_TOPICS_SHINE}</h1>
	<ul>
	<!-- BEGIN row -->
	<li><a<!-- IF row.TOPIC_CLASS != '' --> class="t_{row.TOPIC_CLASS}"<!-- ENDIF --> href="{row.A}">{row.TOPIC_TITLE}</a></li>
	<!-- END row -->
	</ul>
</section>
<!-- END board_topics -->

<!-- BEGIN friend_request -->
<section class="secondary">
	<h1>{L_FRIEND_REQUESTS}</h1>
	<ul id="friend_request">
	<!-- BEGIN row -->
	<li><a href="{row.A}">{row.BIO_NAME}</a> <a class="approve" href="{row.U_APPROVE}">{L_APPROVE}</a> <a class="deny" href="{row.U_DENY}">{L_DENY}</a></li>
	<!-- END row -->
	</ul>
</section>
<!-- END friend_request -->

<!-- INCLUDE doc.foot.htm -->
